.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    text-align: center;
}

.profile-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 10%;
    border-radius: 15px;
    background-color: white;
}

.profile-container input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.profile-container button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-container button:hover {
    background-color: #0056b3;
}
