.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh; !* This will take the full height of the viewport *!*/
}

.comments-container {
    margin: 20px;
    padding: 10px;
    width: 60%;
    /*background-color: #f9f9f9;*/
    /*border-radius: 8px;*/
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
}



.comment {
    border-bottom: 1px solid #e1e1e1;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.comment:last-child {
    border-bottom: none;
}

.comment div {
    margin: 0 10px;
}

.comment-text {
    flex-grow: 1;
}

.comment-author {
    /*font-weight: bold;*/
    /*color: dodgerblue;*/
}

.vote-button {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 50px 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}

.vote-button:hover {
    background-color: #83beff;
}

.vote-button:disabled {
    background-color: dodgerblue;
    cursor: not-allowed;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.page-button {
    background-color: #8c8c8c;
    color: white;
    border: none;
    padding: 5px 15px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.page-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.textarea-comment {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    flex-grow: 1;
    font-family: Arial, sans-serif;
    resize: vertical;
    font-size: 12px;
}

.button-post-comment {
    background-color: dodgerblue; /* Green background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s;
}

.button-post-comment:hover {
    background-color: #83beff; /* Darker shade of green */
}

.comments-input-section {
    display: flex;
    align-items: center; /* Aligns children vertically in the center */
    justify-content: space-between; /* Adjust this as needed */
    gap: 10px; /* Adds space between the textarea and the button */
}
